html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fffefe;
  color: #1c2e43;
  font-size: 15px;
  line-height: 10px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #e96247;
  font-size: 26px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #e96247;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #06C0C0;
}

a:hover {
  color: #e96247;
}

.container {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

#footer {
  box-shadow: 0px 0px 0px rgb(0 0 0 / 10%);
}

.card {
  background-color: #fffefe;
  padding: 20px;
  margin-top: 50px;
  margin: 30px;
  line-height: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  float: none;
  text-align: center;
}

.stack-header {
  color: #06C0C0;
}

.bio-paragraph {
  text-align: center;
  margin: 0px 30px;
  padding: 5px;
}

.nav-button {
  background-color: #e96247;
  color: #fffefe;
  border-radius: 5px;
  padding: 8px;
}

.project-button {
  background-color: #06C0C0;
  color: #fffefe;
  border-radius: 5px;
  padding: 8px;
  margin-left: 18px;
}

.nav-button:hover {
  background-color: #06C0C0;
  color: #fffefe;
}

.project-button:hover {
  background-color: #e96247;
  color: #fffefe;
}

.devicon {
  font-size: 52px;
}

.horizontal-list {
  font-size: 22px;
  display: inline;
  text-align: center;
  padding: 0px 9px 0px 9px;
  margin-left: 0px;
}

#contact-links {
  padding-left: 0px;
}

.project-name {
  text-align: left;
  margin-left: 30px;
  padding-left: 20px;
  text-decoration: underline;
}

li {
  margin-left: 30px;
  padding-left: 20px;
  text-align: left;
}

.social {
  color: #06C0C0;
}

.social:hover {
  color: #e96247;
}

#avatar {
  border-radius: 50%;
  width: 200px;
}

.project-photo {
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid #e96247;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

#footer-end {
  margin-left: -8px;
}

@media (max-width: 1280px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 940px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    padding: 15px;
  }

  .stack-header {
    text-align: center;
  }

  .bio-paragraph {
    text-align: center;
    margin: 0px 10px;
    padding: 10px;
  }

  .bio-text {
    text-align: left;
    margin: 0px 10px;
    padding: 10px;
  }

  .horizontal-list {
    line-height: 35px;
    padding: 0px 18px 0px 0px;
  }

  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-left: 0px;
    width: 100%;
  }

  .project-info {
    padding: 0px 10px;
    margin-right: 20px;
  }

  .project-photo {
    max-width: 85%;
    border-radius: 8px;
    border: 1px solid #e96247;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  }

  #footer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
}
